<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MITO brochure and test drive request email</title>
</head>
<body style="-webkit-text-size-adjust:none; padding:0; margin:0; background:#FFFFFF;" bgcolor="#FFFFFF">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="background:#FFFFFF;" bgcolor="#FFFFFF"><table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td><table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
              
              <tr align="center">
                <td width="560"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">
                  Having trouble reading this email? <a style="color:#555555;" href="http://yourcardeals.co.uk/view/Introducing-the-latest-Alfa-Romeo-must-have.html">View online</a><br /></b></font></span>
				  </td>
              </tr>
                <br>
        <tr>
          <td width="599" height="293" align="center"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634534615/alfa-hero.jpg" width="599" height="293" alt="THE ALFA MITO. ARRANGE A TEST DRIVE NOW" align="center"/></td>
        </tr>
        <tr>
          <td width="600" height="29"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="600" height="29" /></td>
        </tr>
        <tr>
          <td width="600"><table width="565" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td><img src="http://www1.mytestdrive.co.uk/imgproxy/img/635022225/alfa-title.gif" width="548" height="35" alt="AND IF YOU REGISTER BEFORE 15 JUNE 2013 YOU WON?T PAY THE CONGESTION CHARGE FOR 3 YEARS." /></td>
              </tr>
              <tr>
                <td width="565" height="23"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="565" height="23" /></td>
              </tr>
              <tr>
                <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">What are the things you love? Your car? Your favourite band? Staying in touch with your friends? Looking great with minimal fuss? Do you want to stand out from the crowd and own a Limited Edition? If the answer is yes, then Alfa Romeo have the perfect car for you? So why not own one of only 250 that are available in the UK. </span></td>
              </tr>
              <tr>
                <td width="565" height="19"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="565" height="19" /></td>
              </tr>
              <tr>
                <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">The Alfa MiTo Live Limited Edition incorporates all of the following, plus plenty of extras...</span></td>
              </tr>
              <tr>
                <td width="565" height="23"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="565" height="23" /></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td width="600" style="background:#f7f7f7;" background="#f7f7f7"><table width="560" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#f7f7f7;" background="#f7f7f7">
              <tr>
                <td></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td width="600" style="background:#f7f7f7;" background="#f7f7f7"><table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr valign="top">
                <td width="35" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="35" height="18" /></td>
                <td width="525" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="525" height="18" /></td>
              </tr>
              <tr valign="top">
                <td width="35" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191854/red-bullet.gif" width="35" height="20" /></td>
                <td width="525" style="background:#f7f7f7;" background="#f7f7f7"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">A host of extra specification, so you look the part</span></td>
              </tr>
              <tr valign="top">
                <td width="35" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191854/red-bullet.gif" width="35" height="20" /></td>
                <td width="525" style="background:#f7f7f7;" background="#f7f7f7"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">Smartphone driven Pioneer AppRadio&#174; for people on the move</span></td>
              </tr>
              <tr valign="top">
                <td width="35" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191854/red-bullet.gif" width="35" height="20" /></td>
                <td width="525" style="background:#f7f7f7;" background="#f7f7f7"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">Affordable monthly payments on both HP & PCP available from 0&#37; APR*</span></td>
              </tr>
              <tr valign="top">
                <td width="35" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191854/red-bullet.gif" width="35" height="20" /></td>
                <td width="525" style="background:#f7f7f7;" background="#f7f7f7"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">Low Insurance Group 9</span></td>
              </tr>
              <tr valign="top">
                <td width="35" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191854/red-bullet.gif" width="35" height="20" /></td>
                <td width="525" style="background:#f7f7f7;" background="#f7f7f7"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">Zero road tax</span></td>
              </tr>
              <tr valign="top">
                <td width="35" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="35" height="15" /></td>
                <td width="525" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="525" height="15" /></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td width="600"><table width="565" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td width="565" height="23"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="565" height="23" /></td>
              </tr>
              <tr>
                <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">Plus with the Alfa MiTo Turbo TwinAir, if you do live in the Greater London area, you can benefit from this model being exempt from the Congestion Charge&dagger;&dagger;. But you must act quickly and register a new Alfa MiTo Live Limited Edition on the TFL congestion charge website by 15 June if you are to enjoy this great saving for 3 whole years.</span></td>
              </tr>
              <tr>
                <td width="565" height="19"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="565" height="19" /></td>
              </tr>
              <tr>
                <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">The Alfa MiTo Live Limited Edition is just one example within the exciting Alfa MiTo range. But don't take our word for it, experience an Alfa MiTo for yourself.</span></td>
              </tr>
              <tr>
                <td width="565" height="23"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="565" height="23" /></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td width="600" style="background:#f7f7f7;" background="#f7f7f7"><table width="560" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#f7f7f7;" background="#f7f7f7">
              <tr>
                <td width="560" height="25" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="25" /></td>
              </tr>
              <tr>
                <td style="background:#f7f7f7;" background="#f7f7f7" align="center"><a href="https://ec-track.com/Tracker/click.aspx?C=D58833FF9207899CDA8DCFC183E51CF3&linkurl=107841&ec_id=522&1=1"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191853/mito-brochure.gif" alt="Request a brochure" width="350" height="39" border="0" /></a></td>
              </tr>
              <tr>
                <td width="560" height="25" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="25" /></td>
              </tr>
              <tr>
                <td style="background:#f7f7f7;" background="#f7f7f7" align="center"><a href="https://ec-track.com/Tracker/click.aspx?C=D58833FF9207899CDA8DCFC183E51CF3&linkurl=107842&ec_id=522&1=1"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191778/book-test-drive.gif" alt="Book your test drive today" width="297" height="39" border="0" /></a></td>
              </tr>
              <tr>
                <td width="560" height="25" style="background:#f7f7f7;" background="#f7f7f7"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="25" /></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="right"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191832/footer-logo.gif" width="335" height="163" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">&plusmn;Model shown is Alfa MiTo 875cc TB TwinAir 85 bhp Live Limited Edition at &pound;16,590 OTR&dagger; including Alfa Red Special paint at &pound;425. Range of official fuel consumption figures for the Alfa MiTo Live Limited Edition: Urban 57.6 mpg (4.9 l/100km); Extra Urban 74.3 mpg (3.8 l/100km); Combined 67.3 mpg (4.2 l/100km). CO<span style="font-size:9px;">2</span> emissions 98 g/km.</span></td>
        </tr>
        <tr>
          <td width="560" height="12"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="12" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">&plusmn;Fuel consumption figures are obtained for comparative purposes in accordance with EC directives/ regulations and may not be representative of real-life driving conditions. Factors such as driving style, weather and road conditions may also have a significant effect on fuel consumption.</span></td>
        </tr>
        <tr>
          <td width="560" height="12"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="12" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">&dagger;On the road price includes 12 months road fund licence, vehicle first registration fee, delivery, number plates and VAT. Figures and prices are correct at time of publishing. Vehicles must be registered before 30 June 2013.</span></td>
        </tr>
        <tr>
          <td width="560" height="12"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="12" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">&dagger;&dagger;Congestion charge exemption subject to obtaining GVD registration by TFL before cut-off date of 28 June 2013. TFL currently advises 10 working days to process the application for GVD discount. In order to satisfy TFL registration requirements, you will need to provide relevant vehicle documentation. Please check on tfl.gov.uk for full details well in advance of cut-off date of 28 June 2013. 100&#37; congestion charge discount is based on the current TFL policy which requires registration with TFL and a &pound;10 annual fee.</span></td>
        </tr>
        <tr>
          <td width="560" height="12"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="12" /></td>
        </tr>
		<tr>
		<td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">*0% Representative APR on hire purchase only available over a 2 year term, 45% deposit required. Offer subject to status, a guarantee and/or indemnity may be required. Terms and conditions apply. We work with a number of creditors to provide finance to our customers, including Alfa Romeo Financial Services. Alfa Romeo Financial Services, PO Box 4465, Slough SL1 0RW. Offer applies to vehicles registered between 1 April to 30 June 2013 on selected Alfa MiTo models in stock and excludes factory orders. Terms and conditions apply.</span></td>
        </tr>
		 <tr>
          <td width="560" height="12"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="12" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">Registered office: Fiat House, 240 Bath Road, Slough, Berkshire SL1 4DX. <br />
            Registered in England and Wales No. 201514.</span></td>
        </tr>
		 <tr>
          
        <tr>
          <td width="560" height="12"><img src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634191902/spacer.gif" width="560" height="12" /></td>
        </tr>
      </table></td>
  </tr>
</table>
<!-- Content ends here. -->

 <table width="600" height="21" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:verdana; font-size:10px; color:FFFFFF">
 <tr>
  <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; padding:10px 10px 0px 10px;">
     <font style="font-family:arial;font-size:10px;">
  Please read our <a href="https://ec-track.com/Tracker/click.aspx?C=D58833FF9207899CDA8DCFC183E51CF3&linkurl=107843&ec_id=522&1=1" title="View our privacy policy." style="text-decoration:underline; color:#addf3d;"><font color="#0033FF">Privacy&#160;Policy</font></a></font>

   </td>
   </tr>
</table>
<img src="https://ec-track.com/Tracker/view.aspx?c=D58833FF9207899CDA8DCFC183E51CF3&ec_id=&1=1" BORDER="0" WIDTH="1" HEIGHT="1" ></body>
</html>