<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Giulietta brochure and test drive request email</title>
</head>
<body style="-webkit-text-size-adjust:none; padding:0; margin:0; background:#FFFFFF;" bgcolor="#FFFFFF">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="background:#FFFFFF;" bgcolor="#FFFFFF"><table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td><table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td width="560" height="21"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="21" /></td>
              </tr>
              <tr align="center">
                <td width="560"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">
                  Having trouble reading this email? <a style="color:#555555;" href="http://yourcardeals.co.uk/view/Isnt-it-time-you-considered-an-Alfa-Romeo-Giulietta.html">View online</a></span></td>
              </tr>
              <tr>
                <td width="560" height="21"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="21" /></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td width="599" height="293"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195608/alfa-hero.jpg" width="599" height="293" alt="THE ALFA GIULIETTA. ARRANGE A TEST DRIVE NOW" /></td>
        </tr>
        <tr>
          <td width="600" height="29"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="600" height="29" /></td>
        </tr>
        <tr>
          <td width="600"><table width="565" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195626/alfa-title.gif" width="535" height="35" alt="FROM £199 PER MONTH* WITH £1,500 ALFA ROMEO DEPOSIT CONTRIBUTION^^ & 0% APR REPRESENTATIVE." /></td>
              </tr>
              <tr>
                <td width="560" height="23"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="23" /></td>
              </tr>
              <tr>
                <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">What more could you want from your brand New Alfa Giulietta than dynamic performance, coup&eacute; style looks, 5 Star Euro NCAP safety rating and 5 door practicality?</span></td>
              </tr>
              <tr>
                <td width="560" height="19"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="19" /></td>
              </tr>
              <tr>
                <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">A great finance offer, of course. Until the end of June the Alfa Giulietta 1.4 TB 120 bhp Turismo can be yours for just £199 per month*. Plus you can also take advantage of a generous £1,500 Alfa Romeo Deposit Contribution^^. But that’s not all, with 0% APR Representative and 3 Years Unlimited Alfa Romeo Warranty**, giving into temptation has never made more sense.</span></td>
              </tr>
              <tr>
                <td width="560" height="19"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="19" /></td>
              </tr>
              <tr>
                <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:13px; color:#6c6b6b;">Experience the Alfa Giulietta for yourself...</span></td>
              </tr>
              <tr>
                <td width="560" height="23"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="23" /></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td width="600" style="background:#f7f7f7;" background="#f7f7f7"><table width="560" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#f7f7f7;" background="#f7f7f7">
              <tr>
                <td width="560" height="25" style="background:#f7f7f7;" background="#f7f7f7"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="25" /></td>
              </tr>
              <tr>
                <td style="background:#f7f7f7;" background="#f7f7f7" align="center"><a href="https://ec-track.com/Tracker/click.aspx?C=1A5BAF15B781FC5300F0E1E96F93A9B9&linkurl=107743&ec_id=522&1=1"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195670/book-test-drive.gif" alt="Book your test drive today" width="297" height="39" border="0" /></a></td>
              </tr>
              <tr>
                <td width="560" height="25" style="background:#f7f7f7;" background="#f7f7f7"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="25" /></td>
              </tr>
              <tr>
                <td style="background:#f7f7f7;" background="#f7f7f7" align="center"><a href="https://ec-track.com/Tracker/click.aspx?C=1A5BAF15B781FC5300F0E1E96F93A9B9&linkurl=107744&ec_id=522&1=1"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195716/request-a-brochure.gif" alt="Request a brochure" width="245" height="39" border="0" /></a></td>
              </tr>
              <tr>
                <td width="560" height="25" style="background:#f7f7f7;" background="#f7f7f7"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="25" /></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="right"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195715/footer-logo.gif" width="335" height="163" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">Model shown is Alfa Giulietta 1.4 TB 120 bhp Turismo at &pound;18,255 OTR&dagger; including Ghiaccio White special paint at &pound;490.</span></td>
        </tr>
		<tr>
          <td width="560" height="12"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="12" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">Range of official fuel consumption figures for the Alfa Giulietta range: Urban 26.2 – 53.3 mpg (10.8 – 5.3 l/100km); Extra Urban 48.7 – 76.3 mpg (5.8 – 3.7 l/100km); Combined 37.2 – 64.2 mpg (7.6 – 4.4 l/100km); CO<span style="font-size:9px;">2</span> emissions 177 – 114g/km.</span></td>
        </tr>
		<tr>
          <td width="560" height="12"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="12" /></td>
        </tr>		
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">&plusmn;Fuel consumption figures are obtained for comparative purposes in accordance with EC directives/ regulations and may not be representative of real-life driving conditions. Factors such as driving style, weather and road conditions may also have a significant effect on fuel consumption.</span></td>
        </tr>
        <tr>
          <td height="12" width="560"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" height="12" width="560"></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">*With Alfa Romeo Preferenza you have the option to return the vehicle and not pay the final payment, subject to the vehicle not having exceeded an agreed annual mileage (a charge of 6p per mile for exceeding 6,000 miles per annum in these examples) and being in good condition. Offers may be withdrawn or amended without prior notification. Offer subject to status, a guarantee and/or indemnity may be required. Terms and Conditions apply. Alfa Romeo Financial Services, PO Box 4465, Slough SL1 0RW. Offer applies to vehicles registered between 1 April – 30 June 2013 on Alfa Giulietta models. Terms and conditions apply.</span></td>
        </tr>
		<tr>
          <td width="560" height="12"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="12" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">&dagger;On the road price includes 12 months road fund licence, vehicle first registration fee, delivery, number plates and VAT. Figures and prices are correct at time of publishing. Vehicles must be registered by 30 June 2013.</span></td>
        </tr>
        <tr>
          <td width="560" height="12"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="12" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">^^&pound;1,500 Alfa Romeo Deposit Contribution is available on PCP only and is valid from 1 April – 30 June 2013 on Alfa Giulietta models. Participating dealers only. Terms & Conditions apply and are subject to exclusions.</span></td>
        </tr>
        <tr>
          <td width="560" height="12"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="12" /></td>
        </tr>
		<tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">**The 3 year warranty consists of 36 months’ unlimited mileage warranty (incl.24 months’ Pan European warranty) which guarantees your vehicle against defective manufacturing faults for a period of 36 months from the date of first registration and without mileage limits. This excludes wear and tear items. Retail sales only. Terms and conditions apply and the Warranty is subject to exclusions. See website for full details.</span></td>
        </tr>
        <tr>
          <td width="560" height="12"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="12" /></td>
        </tr>
        <tr>
          <td><span style="font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; color:#555555;">Registered office: Fiat House, 240 Bath Road, Slough, Berkshire SL1 4DX. <br />
            Registered in England and Wales No. 201514.</span></td>
        </tr>
        <tr>
          <td width="560" height="12"><img style="display:block;" src="http://ecircle.mytestdrive.co.uk/imgproxy/img/634195737/spacer.gif" width="560" height="12" /></td>
        </tr>
      </table></td>
  </tr>
</table>
 <table width="600" height="21" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:verdana; font-size:10px; color:FFFFFF">
 <tr>
  <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; padding:10px 10px 0px 10px;">
     <font style="font-family:arial;font-size:10px;">Please read our <a href="https://ec-track.com/Tracker/click.aspx?C=1A5BAF15B781FC5300F0E1E96F93A9B9&linkurl=107745&ec_id=522&1=1" title="View our privacy policy." style="text-decoration:underline; color:#addf3d;"><font color="#0033FF">Privacy&#160;Policy</font></a></font>

   </td>
   </tr>
</table>
<img src="https://ec-track.com/Tracker/view.aspx?c=1A5BAF15B781FC5300F0E1E96F93A9B9&ec_id=&1=1" BORDER="0" WIDTH="1" HEIGHT="1" ></body>
</html>
