
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--===== EMAIL TITLE =====-->

<title>Fiat 500L | Meet the Extended Family | Test Drive</title>

<!--===== CSS =====-->

<style type="text/css">

	html {
		border: none;
		padding: 0;
		margin: 0;
	}

	body {
    background-image: url('http://e.convertrmail.com/cvtrimg/fiat/email/500L/background.jpg');
    background-repeat: repeat;
    background-color: #656565;
		border: none;

		font-family: Arial, sans-serif;
		color: #cccccc;
    padding: 0;
    margin: 0;
	}

  div, p, a, li, td { 
    -webkit-text-size-adjust:none; 
  }

	img {
		display: block;
		border: none;
	}

  sup, sub { vertical-align: 0;
           position: relative; }
  sup { bottom: 1ex; }
  sub { top: 0.8ex; }

  a img {
    display: block;
    border: none;
  }

	a {
    text-decoration: none;
		border: none;
		color: #cc0033;
	}

	a:link {
    text-decoration: none;
		border: none;
		color: #cc0033;
	}

	a:hover {
    text-decoration: none;
		border: none;
		color: #cc0033;
	}

	a:visited {
    text-decoration: none;
		border: none;
		color: #cc0033;
	}
 
</style>

<!--===== CSS END =====-->

</head>

<body>

<!--===== BODY BG COLOUR CONTAINER =====-->

<table  cellpadding="0" cellspacing="0" border="0" width="100%" background="http://e.convertrmail.com/cvtrimg/fiat/email/500L/background.jpg">
<tr>
<td>

<!--===== EMAIL CONTENT =====-->

<!-- Outer Border -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style=" margin: 0 auto;" >

  <tr>
    <td style="border-width: 1px; border-style: solid; border-color: #828282;">

<!-- Logo -->

<table border="0" cellpadding="5" cellspacing="0" align="center" width="500" bgcolor="#1e1e1e" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 10px; color: #cccccc; text-align: center;" >

  <tr>
    <td>
      <font style="color: #FFFFFF;">Problems reading this email?</font> <a href="#" style="color: #ffcc00;" title="view web version"><a href="http://www.yourcardeals.co.uk/view/Meet-the-Fiat-500L-family-book-a-test-drive-today.html"><font style="color: #cc0033; text-decoration: underline;">view web version</font></a>
    </td>
  </tr>

</table>

<!-- Logo -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td width="40" bgcolor="FFFFFF"></td>
    <td>
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Fiat 500L">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/logo.jpg" width="500" height="95" alt="Fiat 500L">
      </a>
    </td>
    <td width="40" bgcolor="#ffffff"></td>
  </tr>

</table>

<!-- Title -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Meet the Extended Family">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/meet-the-family.jpg" width="500" height="195" alt="Meet the Extended Family">
      </a>
    </td>
  </tr>

</table>

<!-- Main Text -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 13px; line-height: 16px; color: #FFFFFF; text-align: center;" >

  <tr>
    <td width="70" bgcolor="#ffffff"></td>
    <td width="450">
      <font style="color: #666666;">Every growing family needs room for more. It’s why we created the Fiat 500L range: the Fiat 500L, the Fiat 500L Trekking and the newly arrived Fiat 500L MPW. You not only get huge amounts of style but also 5 doors, 5 seats (the option of 7* in the Fiat 500L MPW), a large boot and lots of handy compartments.</font>
    </td>
    <td width="70" bgcolor="#ffffff"></td>
  </tr>

</table>

<!-- Button -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Book a Test Drive">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/button-td.jpg" width="500" height="70" alt="Book a Test Drive">
      </a>
    </td>
  </tr>


<!-- All Cars -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Meet the Extended Family">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/all-cars.jpg" width="500" height="185" alt="Meet the Extended Family">
      </a>
    </td>
  </tr>

</table>

<!-- 500L - Title -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Fiat 500L">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/title-500l.jpg" width="500" height="115" alt="Fiat 500L">
      </a>
    </td>
  </tr>

</table>

<!-- 500L - Text -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 13px; line-height: 16px; color: #FFFFFF; text-align: right;" >

  <tr>
    <td width="160" bgcolor="#ffffff"></td>
    <td width="290">
      <font style="color: #666666;">The Fiat 500 goes large, perfect for couples who’ve become families, with space for pet stuff, sports stuff, baby stuff, travel stuff or even obscure hobby stuff.</font>
    </td>
    <td width="50" bgcolor="#ffffff"></td>
  </tr>

</table>

<!-- Trekking - Button -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Fiat 500L">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/button-td-500l.jpg" width="500" height="255" alt="Book a Test Drive">
      </a>
    </td>
  </tr>

</table>

<!-- Trekking - Title -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Fiat 500L Trekking">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/title-trekking.jpg" width="500" height="115" alt="Fiat 500L Trekking">
      </a>
    </td>
  </tr>

</table>

<!-- Trekking - Text -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 13px; line-height: 16px; color: #FFFFFF; text-align: right;" >

  <tr>
    <td width="180" bgcolor="#ffffff"></td>
    <td width="270">
      <font style="color: #666666;">Taking the attitude of the Fiat 500 to new heights, the Fiat 500L Trekking puts the grrr into grown up, with beefy 17", diamond finished alloy wheels, tinted windows, City Brake Control and Traction+.</font>
    </td>
    <td width="50" bgcolor="#ffffff"></td>
  </tr>

</table>

<!-- Trekking - Button -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Fiat 500L Trekking">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/button-td-trekking.jpg" width="500" height="255" alt="Book a Test Drive">
      </a>
    </td>
  </tr>

</table>

<!-- MPW - Title -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Fiat 500L MPW">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/title-mpw.jpg" width="500" height="115" alt="Fiat 500L MPW">
      </a>
    </td>
  </tr>

</table>

<!-- MPW - Text -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 13px; line-height: 16px; color: #FFFFFF; text-align: right;" >

  <tr>
    <td width="160" bgcolor="#ffffff"></td>
    <td width="290">
      <font style="color: #666666;">Fiat 500's biggest relation, the Fiat 500L MPW is for people who lead seriously big lives, adding the option of two* extra seats and a whopping 638<sup>^</sup> litres of boot space, enough for a paddling pool<sup>†</sup>. Or two large German Shepherds.</font>
    </td>
    <td width="50" bgcolor="#ffffff"></td>
  </tr>

</table>

<!-- MPW - Button -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Fiat 500L MPW">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/button-td-mpw.jpg" width="500" height="225" alt="Book a Test Drive">
      </a>
    </td>
  </tr>

</table>

<!-- Footer Logos -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#ffffff" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 10px; line-height: 20px; color: #cccccc; text-align: center;" >

  <tr>
    <td bgcolor="#ffffff">
      <a href="http://trk.cvtr.co/cvtr.php?pid=000305&lid=000470" title="Fiat 500L with EXPO">
        <img style="display: block; border: 0;" src="http://e.convertrmail.com/cvtrimg/fiat/email/500L/footer-logos.jpg" width="500" height="55" alt="Fiat 500L with EXPO">
      </a>
    </td>
  </tr>

</table>

<!-- Terms Splitter -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#1f1f1f" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 9px; line-height: 11px; color: #aeadad; text-align: center;" >

  <tr>
    <td width="500" height="5"></td>
  </tr>

</table>

<!-- Terms -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#1f1f1f" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 9px; line-height: 11px; color: #aeadad; text-align: center;" >

  <tr>
    <td width="25"></td>
    <td bgcolor="#1f1f1f">
      <br />
      <font style="color: #aeadad;">*5+2 seat configuration, two seats for persons up to 1.65m. ^Based on five seat configuration with rear seats pulled forward. <sup>†</sup>Small paddling pool measuring 120cm in diameter. 

      <br />

      *We have sent you this email because our records show that you have requested it. We will regularly send you emails to this email eddress until you tell us to stop. To cancel at any time please click unsubscribe below.

      <br />

       - this may take a few days to take effect. Please read our <a href="http://www.yourcardeals.co.uk/privacy-policy/"><font style="color: #ffffff; text-decoration: underline;">Privacy Policy</font></a></font>.
    </td>
    <td width="25"></td>
  </tr>

</table>

<!-- Terms Splitter -->

<table border="0" cellpadding="0" cellspacing="0" align="center" width="500" bgcolor="#1f1f1f" style="border-style: none; margin: 0 auto; font-family: Arial, sans-serif; font-size: 9px; line-height: 11px; color: #aeadad; text-align: center;" >

  <tr>
    <td width="500" height="10"></td>
  </tr>

</table>

<!-- Outer Border End -->

    </td>
  </tr>

</table>

<!--===== EMAIL CONTENT END =====-->

</td>
</tr>
</table>

<!--===== LINK END =====-->

<img src="http://trk.cvtr.co/i.php?p=000305&l=000470" alt="" title="" width="1" height="1" /></body>

</html>